<div class="span-24">
  <div class="span-12"><h1 class="main_title"><a title="Головна"  href="/" ><%= title %></a></h1></div>
  <div class="span-12 last">
   <div class="menu-cont">
    <div class='motto'><%= motto %></div>
 	<ul class="main-menu">
	<li><a href="/search">Розширений пошук</a></li>
	<li><a href="http://texty.org.ua/pg/news/devrand/read/35449">Інструкція</a></li>
	<!--li><a href="#">Статистика</a></li-->
	</ul>
   </div>  
  </div>
</div>
